{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col">
				<h1>Inscription</h1>
				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.nom) }}
				{{ form_row(registrationForm.prenom) }}
				{{ form_row(registrationForm.pseudo) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword, 
                {label: 'Password'}) }}
				{{ form_row(registrationForm.agreeTerms) }}
				<button type="submit" class="btn">Enregistrer</button>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</section>

{% endblock %}
