{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
 <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/script.js') }}" defer></script>
{% endblock %}

{% block body %}
{# <img src="{{ asset('assets/media/fond.jpg') }}" alt="fond" style="width: 300px; height: 300px; text-content:align: center; margin: auto}}"/> #}
	<h1>Bienvenue dans mon super jeu ClickClack!</h1>
	<div class="container">
		<h1>Demarrez la partie</h1>
		<h2>Score finale:</h2>
		<span id="nombreClicks">0</span><br/>
		<div class="container-jeu">
			<img src="../assets/img/rond.png" class="rondrouge" id="rond" alt="ronds"/> 
		</div>
	</div>
	<script>
  var saveScoresUrl = '{{ path('app_jeu_new') }}';
  console.log(saveScoresUrl);
</script>
{% endblock %}
