{% extends 'base.html.twig' %}

{% block title %}Jeu index{% endblock %}

{% block body %}
    <h1>Jeu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>UtilisateurScore</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jeu in jeus %}
            <tr>
                <td>{{ jeu.id }}</td>
                <td>{{ jeu.UtilisateurScore }}</td>
                <td>{{ jeu.Date ? jeu.Date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_jeu_show', {'id': jeu.id}) }}">show</a>
                    <a href="{{ path('app_jeu_edit', {'id': jeu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_jeu_new') }}">Create new</a>
{% endblock %}
