{% extends 'base.html.twig' %}

{% block title %}Jeu{% endblock %}

{% block body %}
    <h1>Jeu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jeu.id }}</td>
            </tr>
            <tr>
                <th>UtilisateurScore</th>
                <td>{{ jeu.UtilisateurScore }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ jeu.Date ? jeu.Date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_jeu_index') }}">back to list</a>

    <a href="{{ path('app_jeu_edit', {'id': jeu.id}) }}">edit</a>

    {{ include('jeu/_delete_form.html.twig') }}
{% endblock %}
