{% block nav %}
    <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_login')}}">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_register')}}">Incription</a>
            </li>
        
        {% if (app.user) %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{path('app_logout')}}">Déconnexion</a>
            </li> 
            {% endif %}
        </ul>
        </div>
    </div>
    </nav>
{% endblock %}
