.container{
    text-align: center;
 
}
.container-jeu{
    background-color:black;
    width: 300px;
    height: 300px;
    text-align: center;
    margin: auto;
    
}
img{
    width: 150px;
    margin-top: 80px;
}
h1{
    text-align: center;
}
