<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<!--  feuille de style -->
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">

		{% block stylesheets %}
			{{ encore_entry_script_tags('app') }}
			<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
		{% endblock %}

		<!-- fichier js -->
		<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="{{ asset('assets/js/script.js') }}" defer></script>
		{% endblock %}
	</head>

	<body>
		{% include "_parties/_nav.html.twig" %}

		{% block body %}{% endblock %}

		{% include "_parties/_footer.html.twig" %}
	</body>

</html>
